// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $raleway;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;

}

ul, ol {
  margin: 0;
}

p, li {
  margin-bottom: 0.3em;
  @include font-size(14);
  color: $texto1;
}

a {
  text-decoration: none;
  color: #79A6BE;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

img{
  max-width: 100%;
  height: auto;
}

// Patrones
