.articles-section{
	padding: 2%;
	@media (min-width: 680px){
		float: left;
		width: 74%
	}
}

.blog-article{
	display: inline-block;
	width: 100%;
	padding: 2%;
	@media (min-width: 550px){
		width: 49%;
	}
	@media (min-width: 900px){
		width: 33%;
	}
}
.big-img-article {
	width: 70%;
	margin: 2% 14.5%;
}

.recent-article {
	margin: 4%;
	@media (min-width: 680px){
		float: right;
		width: 18%;
	}
}



