//
// Estilos para la navegación
//

// Estilos generales

nav {
	padding: 2% 4%;
	ul {
		padding: 0;
	}
	a{
		color: #fff;
		font-size: 2rem;
	}

}

.main-nav ul{
	padding-right: 5%;
	display: none;
	overflow: hidden;
	@media (min-width: 680px){
		display: block;
		height: auto;
	}
	li {
		@media (min-width: 680px){
			display: inline-block;
			margin-right: 2%;
		}
	}
}

.expanded li{
	display: block;

}



.menu-toggle {
	text-decoration: none;
	@media (min-width: 680px){
		display: none;
	}
}

ul.expanded {
	display: block;
	height: 170px;
	li {
		margin: 3%;
	}
}
